.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.app__body {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.app__container {
  width: 1024px;
  height: 100%;
  display: flex;
  padding-top: 36px;
  padding-right: 48px;
  padding-left: 48px;
}
